<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    
    <div class="flex space-x-4 items-center">
      <a routerLink="/cesar" class="text-gray-300 hover:text-white">Cifrado Cesar</a>
      <a routerLink="/escitala" class="text-gray-300 hover:text-white">Cifrado Escitala</a>
      <a routerLink="/ripemd" class="text-gray-300 hover:text-white">Metodos Cifrado</a>
      <a routerLink="/comparacion" class="text-gray-300 hover:text-white">Comparacion Metodos</a>
    </div>
  </div>
</nav>
