<div class="w-full flex justify-center mb-6">
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2" routerLink="/twofish">
    Twofish
  </button>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2" routerLink="/ripemd">
    RIPEMD
  </button>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2"
    routerLink="/diffie-hellman">
    Diffie-Hellman
  </button>
</div>

<div class="bg-gray-100 flex justify-center p-5">
  <div class="flex flex-col lg:flex-row bg-white p-6 rounded-lg shadow-lg w-full max-w-6xl">
    <div class="w-full lg:w-1/2 mb-6 lg:mb-0 lg:mr-6">
      <h2 class="text-2xl font-bold mb-4 text-gray-800">Encriptación RIPEMD</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre Completo</label>
          <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Ingresa tu nombre completo" />
        </div>

        <div class="mb-4">
          <label for="correo" class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico</label>
          <input type="email" id="correo" [(ngModel)]="correo" name="correo"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Ingresa tu correo electrónico" />
        </div>

        <div class="mb-4">
          <label for="direccion" class="block text-gray-700 text-sm font-bold mb-2">Dirección</label>
          <input type="text" id="direccion" [(ngModel)]="direccion" name="direccion"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Ingresa tu dirección" />
        </div>

        <div class="mb-4">
          <label for="identificacion" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
          <input type="password" id="identificacion" [(ngModel)]="identificacion" name="identificacion"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Ingresa tu password" />
        </div>

        <div class="mb-4">
          <label for="telefono" class="block text-gray-700 text-sm font-bold mb-2">Teléfono</label>
          <input type="tel" id="telefono" [(ngModel)]="telefono" name="telefono"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            placeholder="Ingresa tu número de teléfono" />
        </div>

        <div class="mb-4">
          <label for="version" class="block text-gray-700 text-sm font-bold mb-2">RIPEMD Version</label>
          <select id="version" [(ngModel)]="selectedVersion" name="version"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            <option value="ripemd128">RIPEMD-128</option>
            <option value="ripemd160">RIPEMD-160</option>
            <option value="ripemd256">RIPEMD-256</option>
            <option value="ripemd320">RIPEMD-320</option>
          </select>
        </div>


        <div class="flex items-center justify-between">
          <button type="button"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="onSubmit()">
            Hashear Datos
          </button>
        </div>
      </form>
    </div>

    <div class="w-full lg:w-1/2 bg-gray-50 p-6 rounded-lg shadow-lg">
      <h3 class="text-lg font-bold text-gray-800 mb-4">Datos Hasheados con RIPEMD</h3>
      <div class="border border-gray-300 rounded-lg p-4 bg-gray-100">
        <div class="mb-2">
          <label for="hashedName" class="block text-gray-700 text-sm font-bold mb-2">Nombre Hasheado</label>
          <p id="hashedName" class="break-words">{{ hashedFields.nombre || 'N/A' }}</p>
        </div>

        <div class="mb-2">
          <label for="hashedEmail" class="block text-gray-700 text-sm font-bold mb-2">Correo Hasheado</label>
          <p id="hashedEmail" class="break-words">{{ hashedFields.correo || 'N/A' }}</p>
        </div>

        <div class="mb-2">
          <label for="hashedPassword" class="block text-gray-700 text-sm font-bold mb-2">Password Hasheado</label>
          <p id="hashedPassword" class="break-words">{{ hashedFields.identificacion || 'N/A' }}</p>
        </div>

        <div class="mb-2">
          <label for="hashedPhone" class="block text-gray-700 text-sm font-bold mb-2">Teléfono Hasheado</label>
          <p id="hashedPhone" class="break-words">{{ hashedFields.telefono || 'N/A' }}</p>
        </div>
      </div>
    </div>
  </div>
</div>